<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SharePointSiteDomain" value="yourSubDomainName.sharepoint.com"/>
		<add key="SharePointBaseUrl" value="https://yourSubDomainName.sharepoint.com"/>
		<add key="SharePointSiteCollection" value="/sites/DefaultCollection"/> <!--relative path for default SharePoint collection-->
		<add key="Tenant" value="Your azure tenant Id"/>
		<add key="ClientAppId" value="Client app Id in AAD"/> <!--this should have full permission on SharePoint online to perform insert / read operations-->
		<add key="ClientAppSecret" value="Clent app secret"/> <!-- this can be saved in different secure location / added here for simplicity -->
		<add key="SharePointAudiencePrincipal" value="00000003-0000-0ff1-ce00-000000000000"/> <!--this will always be the same-->
		<add key="AccessTokenUrl" value="https://accounts.accesscontrol.windows.net/{0}/tokens/OAuth/2"/>
	</appSettings>
</configuration>